<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="sidebar">

    <h2>📦 ShopManager</h2>
     <div class="user-info">
        Tên đăng nhập : {{ session['username'] }}<br>
         ID : {{ session['user_id'] }}
     </div>
    <a class="menu-item logout" href="/login">
        <button class="logout-btn">
         Đăng xuất
        </button>
    </a>
</div>

<div class="main-content">

    {% block content %}
    {% endblock %}

</div>

</body>
</html>